
*{
   
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*navbar*/
header{
    background: rgb(52, 52, 116);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background: rgb(52, 52, 116);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
header{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


    /* ADD THIS */
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
}
header nav a{
    color:aliceblue;
    text-decoration: none;
    margin-left: 20px;
}
/*hero*/
.hero{
    background: linear-gradient(to right,#2563eb,#1e40af);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.hero h1{
    font-size: 40px;
}
.hero p{
    margin: 15px 0;
    font-size: 18px;
}
.hero button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #1e40af;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/*courses*/
.courses{
    padding: 50px 20px;
    text-align: center;
}
.course-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background: #f1f5f9;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
}
/*about*/
.about{
    background: rgba(99, 61, 99, 0.933);
    padding: 50px 20px;
    text-align: center;
}
.testimonials{
    padding: 50px 20px;
    text-align: center;
    background: #f8fafc;
}
.teacher{
    padding: 40px;
    text-align: center;
}

/*contact*/
.contact{
    padding: 50px 20px;
    text-align: center;
    background: #f8fafc;
}
.contact h2 {
    font-size: 32px;
    color: #0f172a;
}

.subtitle{
    margin: 10px 0 40px;
    color: #5073a5;
}
.contact-box {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
   
}
.contact-info {
    max-width:300px ;
    text-align: center;
}
.contact-info p {
margin-bottom: 20px;
font-size: 16px;
}
.contact-info a{
    color: #2563eb;
    text-decoration:none ;
    font-weight: 500;
}
.contact-map {
    max-width: 400px;
    width: 100px;
}
/*addmision*/
.addmission {
    padding: 50px 20px;
    text-align: center;
    background: #357587;
}
.addmission from{
    max-width: 400px;
    margin: auto;
}
.addmission input,
.admission select,
.addmission button{
    width:100% ;
    padding: 10px;
    margin: 10px 0;
}
.addmission button{
background: #305fc6;
color: black;
text-align: end;

border: none;
cursor:pointer;
}
.highlights{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background: #f1f5f9;
}
.highlight-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.gallery img{
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.contact iframe{
    margin-top: 20px;
    border-radius: 10px;
}
.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 22px;
    text-decoration: none;
}
.notice-bar{
    background: #facc15;
    color: #000;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.enroll-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}
.enroll-btn:hover{
    background: #1e40af;
    transform: scale(1.05);
}
/*footer*/
footer{
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*navbar*/
header{
    background: rgb(52, 52, 116);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 24px;
    font-weight: bold;
}
header nav a{
    color:aliceblue;
    text-decoration: none;
    margin-left: 20px;
}
/*hero*/
.hero{
    background: linear-gradient(to right,#2563eb,#1e40af);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.hero h1{
    font-size: 40px;
}
.hero p{
    margin: 15px 0;
    font-size: 18px;
}
.hero button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #1e40af;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/*courses*/
.courses{
    padding: 50px 20px;
    text-align: center;
}
.course-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background: #f1f5f9;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
}
/*about*/
.about{
    background: #e0f2fe;
    padding: 50px 20px;
    text-align: center;
}
/*contact*/
.contact{
    padding: 50px 20px;
    text-align: center;
}
/*footer*/
footer{
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
}
/*addmision*/
.addmission {
    padding: 50px 20px;
    text-align: center;
    background: #f8fafc;
}
.addmission from{
    max-width: 400px;
    margin: auto;
}
.addmission input,
.admission select,
.addmission button{
    width:100% ;
    padding: 10px;
    margin: 10px 0;
}
.addmission button{
background: #2563eb;
color: white;
border: none;
cursor:pointer;
}
